.idea
.DS_Store
.vscode
data/*
maps/*
html/*
!data/.gitkeep
!maps/.gitkeep
!html/.gitkeep
Soviz.code-workspace
rmk_ignore
mi_ignore/*
!mi_ignore/project.ipynb
rsl_ignore
.ipynb_checkpoints

# Huuuuuuuge HTML file
web/folium/chi_regions.html
web/folium/chi_regions_fatal_incap.html

web/node_modules
