.idea
.DS_Store
.vscode
data/*
maps/*
html/*
!data/.gitkeep
!maps/.gitkeep
!html/.gitkeep
Soviz.code-workspace
rmk_ignore
rsl_ignore
mi_ignore
.ipynb_checkpoints

# Huuuuuuuge HTML file
web/folium/chi_regions.html

web/node_modules
