body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
}

section {
    margin: 102px 0 102px 0;
}

iframe {
    border: none;
    margin: 36px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 900;
}

p {
    max-width: 600px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
}
